# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Environment
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Static and media (if generated)
staticfiles/
media/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# System
.DS_Store
Thumbs.db
